// * {
//   all: unset;
//   font-family: "JetBrains Mono", sans-serif;
//   font-size: 13px;
// }

// .topbar {
//   background-color: #1E1E2E; /* Base */
//   border-radius: 8px;
//   padding: 4px 10px;
//   margin: 4px;
// }

// .workspaces {
//   padding: 0 10px;
// }

// .workspace {
//   color: #A6ADC8; /* Subtext0 */
//   padding: 2px 6px;
// }

// .workspace.active {
//   color: #89B4FA; /* Blue */
//   background-color: #313244; /* Surface0 */
//   border-radius: 4px;
// }

// .time, .date {
//   color: #CDD6F4; /* Text */
//   padding: 2px 6px;
// }

// .time:hover, .date:hover {
//   background-color: #313244; /* Surface0 */
//   color: #F5A97F; /* Peach */
//   border-radius: 4px;
// }
* { all: unset; font-size: 270px; }